h1 {
    font-size: 2.5em; 
    color: rgb(255, 255, 255);
 }
body{
 background-color: #556df7a0;
}
  button {
    font-size: 24px;
    padding: 14px 40px;
    border-radius: 12px;
    background-color: rgba(11, 111, 192);
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-bottom: 20px;
 }

 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(11, 111, 192);
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  